.zentai
  %header.ue
    = image_tag "mercari_logo_horizontal.png",  class: "mercari_log"
    
  .contents-box
    .contents
      .contents__title
        %h2.h2 新規会員登録
      .contents__btn_container
        .contents__btn_email
          = fa_icon 'envelope',  class:'mail-icon'
          = link_to "メールアドレスで登録"
        .contents__btn_facebook
          .facebook-icon
            = image_tag 'facebook_icon.png'
          .facebook-link
            = link_to "Facebookで登録"
        .contents__btn_google
          .google-icon
            = image_tag 'google_icon.png' 
          .google-link
            = link_to "Googleで登録"
  = render partial:'shared/footer'
  