.zentai
  %header
    = image_tag "mercari_logo_horizontal.png",  class: "mercari_log"
    
  .contents-box
    .contents
      .contents__title
        %h2 新規会員登録
      .contents__btn_container
        .contents__btn_email
          = fa_icon 'envelope',  class:'mail-icon'
          = link_to "メールアドレスで登録"
        .contents__btn_facebook
          = image_tag 'facebook_icon.png',  class: "facebook-icon "
          = link_to "Facebookで登録"
        .contents__btn_google
          = image_tag 'google_icon.png' , class: "google-icon "
          = link_to "Googleで登録"
  = render partial:'shared/footer'
  