.product_wrapper
  %header
    = link_to (root_path) do
      = image_tag 'mercari_logo_horizontal.png',size: "234x76" , class: "header__logo-img"
  #new_product
    .product
      .product__title
        %h2 商品の情報を入力
      = form_for @product do |f|
        .product__img
          %ul
            %li
              %h3 出品画像
            %li
              .required__icon 必須
          .clearfix
          %p 最大10枚までアップロードできます

          = f.fields_for :product_images, @product.product_images.first do |image|
            .product__img__dropzone.clearfix
              #preview
              -# １〜５枚目プレビュー表示
              .product__img__dropzone__input
                = image.label :image, for: "upload-image" do
                  .input-area
                    = image.file_field :image_url, id: "upload-image", class: "upload-image", 'data-image': 0
                  .product__img__dropzone__input__description
                    .product__img__dropzone__input__description__text
                      ドラッグアンドドロップ
                      %br
                      またはクリックしてファイルをアップロード
                  
            .product__img__dropzone2.clearfix
              #preview2
              -# ６〜１０枚目プレビュー表示
              .product__img__dropzone2__input2
                = image.label :image, for: "upload-image" do
                  .input-area
                    = image.file_field :image_url, id: "upload-image", class: "upload-image", 'data-image': 0
                  .product__img__dropzone2__input2__description
                    .product__img__dropzone2__input2__description__text
                      ドラッグアンドドロップ
                      %br
                      またはクリックしてファイルをアップロード

        .product__info
          .product__info_name
          %ul
            %li
              %h3 商品名
            %li
              .required__icon 必須
            .clearfix
            = f.text_field :name, class: 'text_field', placeholder: "商品名（必須 40文字まで）"

          .product__info_text
          %ul
            %li
              %h3 商品の説明
            %li
              .required__icon 必須
            .clearfix
            = f.text_area :text, placeholder: '商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）例) 2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。', size:"71x6",class: 'text_area'

        .product__detail
          %h3.light_color 商品詳細

          .clearfix
          .product__detail__form_box
            .product__detail__form_box__category
              %ul
                %li
                  %h3 カテゴリー
                %li
                  .required__icon 必須
              .clearfix
              .select-wrap
                = select_tag "category", options_for_select(get_category_name), class: "select_tag parent_id", id: "product_category_id"
                = fa_icon 'chevron-down', class:'fa_icon' 
              
              .select-wrap
                = select_tag "category" , options_for_select({}), class: "select_tag child_id", id: "product_category_id"
                = fa_icon 'chevron-down', class:'fa_icon'
              
              .select-wrap
                = f.select :category_id, options_for_select({}), {}, class: "select_tag grandchild_id", id: "product_category_id"
                = fa_icon 'chevron-down', class:'fa_icon'

            .product__detail__form_box__size
              %ul
                %li
                  %h3 サイズ
                %li
                  .required__icon 必須
              .clearfix
              .select-wrap
                = f.select :size_id, options_for_select({}), {}, class: "select_tag size_id", id: "product_size_id"
                = fa_icon 'chevron-down', class:'fa_icon'
            
            .product__detail__form_box__brand
              %ul
                %li
                  %h3 ブランド
                %li
                  .optional__icon 任意
              .clearfix
              .select-wrap
                = f.text_field :brand_id, class: 'text_field', placeholder: "例） シャネル"
            
            .product__detail__form_box__status
              %ul
                %li
                  %h3 商品の状態
                %li
                  .required__icon 必須
              .clearfix
              .select-wrap
                = f.select :status, options_for_select(get_status), class: "select_tag", id: "product_status"
                = fa_icon 'chevron-down', class:'fa_icon'

        .shipping-fee
          %h3.light_color 配送について
          %span.icon_question ?

          .clearfix
          .shipping-fee__form_box
            .shipping-fee-payer
              %ul
                %li
                  %h3 配送料の負担
                %li
                  .required__icon 必須
              .clearfix
              .select-wrap
                = f.select :shipping_fee_payer, options_for_select(get_shipping_fee_payer), {}, class: "select_tag shipping_fee_payer", id: "product_shipping_fee_payer"
                = fa_icon 'chevron-down', class:'fa_icon'

            .root-of-delivery_method-for-css#new-delivery-method
              .delivery-method
                %ul
                  %li
                    %h3 配送の方法
                  %li
                    .required__icon 必須
                .clearfix
                .select-wrap
                  = f.select :delivery_method, options_for_select({}), {}, id: "product_delivery_method"
                  = fa_icon 'chevron-down', class:'fa_icon'

            .delivery-from-area
              %ul
                %li
                  %h3 発送元の地域
                %li
                  .required__icon 必須
              .clearfix
              .select-wrap
                = f.select :delivery_from_area, options_for_select(get_delivery_from_area),class: 'select-tag', id: "procuct_delivery_from_area"
                = fa_icon 'chevron-down', class:'fa_icon'

            .delivery-time
              %ul
                %li
                  %h3 発送までの日数
                %li
                  .required__icon 必須
              .clearfix
              .select-wrap
                = f.select :delivery_time, options_for_select(get_delivery_time), class: 'select_tag', id: "product_delivery_time"
                = fa_icon 'chevron-down', class:'fa_icon'

        .sell-price
          %h3.light_color 販売価格(300〜9,999,999)
          %span.icon_question ?
          .clearfix
          .sell-price__form_box
            .sell__fee
              %ul
                %li
                  %h3 価格
                %li
                  .required__icon 必須
                %li.yen ¥
                %li.price_tag
                  = f.text_field :price, placeholder: '例) 300',class: 'sell-price__text_area_2'
                  .clearfix
                %br
                %br
                %br
            .line
              %p.fee
                販売手数料 (10%)
              = text_field_tag :content, '-', class: 'sell-price__text_area_3 mercari-share'

            .sell-price__profit
              %h3.profit
                販売利益
              = text_field_tag :content, '-',class: 'sell-price__text_area_3 seller-share'
        .sell-btn
          .dscription
            %span 禁止されている出品
            %p、
            %span 行為
            %p を必ずご確認ください。
            %p またブランド品でシリアルナンバー等がある場合はご記載ください。
            %span 偽ブランドの販売
            %p は犯罪であり処罰される可能性があります。
            %p また、出品をもちまして
            %span 加盟店規約
            %p に同意したことになります。
          = f.submit "出品する", class: "redbtn"
          .clearfix
          .sell-btn__return
            = link_to "もどる", :back

    = render 'product_footer'

:css
  <!--
  .ui-autocomplete {
    width:100px;
      max-height: 300px;
      overflow-y: auto;
      box-shadow: 0px 0px 3px rgba(0, 0, 1, 1);
      overflow-x: hidden;
      padding-right: 20px;
            background:white;
            opacity:1;
            z-index:10;}
  #jquery-ui-autocomplete label {
      float: left;
      margin-right: 0.5em;
      color: black;
      font-size: 15px;
      background:white;
  }
  -->
