- breadcrumb :product, @product
= render partial:'shared/global-header'
.product_wrapper
  %br
  %br
  .product
    .product__title-detail
      = @product.name
    .product__info-2
      .product__info__inner-content#content-detail
        .product__info__inner-content__image#content-img
          %ul#slider
            - @product.product_images.each do |image|
              %li
                = image_tag image.image_url.to_s, class:'product_img'
          %ul#thumb
            - @product.product_images.each do |image|
              %li
                = image_tag image.image_url.to_s, class:'product_s-img'

          -# --------------商品取引中・売却済後、表示------------------
        - unless @product.deal.position_id == 1
          .image_soldout_red-triangle
          .image_soldout_red-letter
            %p SOLD

        .product__info__inner-content__table
        %table
          %tbody
            %tr
              %th 出品者
              %td
                %p#blue
                = @product.deal.seller.nickname
                %p
                %i.fas.fa-grin
                500
                %i.fas.fa-meh
                10
                %i.fas.fa-frown
                5
            %tr
              %th カテゴリー
              %td#blue
                %p
                = @product.category.parent.parent.name
                %p
                = fa_icon 'chevron-right'
                = @product.category.parent.name
                %p
                = fa_icon 'chevron-right'
                = @product.category.name
            %tr
              %th ブランド
              %td#blue
                = @product.brand.name
            %tr
              - if @product.size.name != "none"
                %th 商品のサイズ
                %td
                  = @product.size.name
            %tr
              %th 商品の状態
              %td
                = @product.status
            %tr
              %th 配送料の負担
              %td
                = @product.shipping_fee_payer
            %tr
              %th 配送方法
              %td
                = @product.delivery_method
            %tr
              %th 配送元地域
              %td#blue
                = @product.prefecture.name
            %tr
              %th 発送の目安
              %td
                = @product.delivery_time
        .product__info__inner-content__account#box-price
          .product__info__inner-content__account__price-detail
            .product-price
              ="¥#{@product.price.to_s(:delimited)}"
            %sub.tax
              (税込)
            - if @product.shipping_fee_payer == "送料込み（出品者負担）"
              .deliverly-btn
                送料込み
            - else
              %sub.payment
                着払い
        -# --------------current_userの時、非表示------------------
        - if @product.deal.seller != current_user
          - if @product.deal.position_id == 1
            .product__info__inner-content__purchase-btn#btn-detail
              = link_to "購入画面に進む", new_product_purchase_path(@product), class:'btn-detail'

        -# --------------商品取引中・売却済後、表示------------------
        - unless @product.deal.position_id == 1
          .product__info__inner-content__purchase-btn#btn-soldout
            %a 売り切れました

        -# --------------どちらのページも表示------------------
        .product__info__inner-content__text
          = simple_format @product.text
        -# --------------current_userの時、非表示------------------
        - if @product.deal.seller != current_user
          .btn-box
            .product__info__inner-content__like-btn
              %i.far.fa-heart
              %span いいね! 1000
            .product__info__inner-content__alert-btn
              %i.far.fa-flag
              %span 不適切な商品の報告
          .product__info__inner-content__safety-btn
            %i.fas.fa-shopping-bag
            %span あんしん・あんぜんへの取り組み

        -# --------------current_userの時のみ、編集・停止。削除btn表示------------------
  - if @product.deal.seller == current_user
    %br
    .product
      .product__edit-btn
        %button
          = link_to "商品の編集", edit_product_path(@product), data: {turbolinks: false}, id:'btn-comment'
      %sub#or or
      .product__comment-btn
        %button
          = link_to "出品を一旦停止する", new_product_path, id:'btn-stop'
          -#### リンク仮置きです
      .product__comment-btn
        -# このbtnでモーダル発火
        %a#btn-delete
          この商品を削除する

      -# -----------------削除btnのモーダル---------------
    #product__mask
      #modal
        .alert-text
          %p#bold 確認
          %p 削除すると二度と復活できません。
          %p 削除する代わりに停止することもできます。
          %br
          %p 本当に削除しますか？
        .alert-btn
          .alert-btn-right
            %button#btn-border
            = link_to "キャンセル","/products/#{@product.id}", id:'btn-cancel-modal', data: {turbolinks: false}
          .alert-btn-left
            %button
            = link_to "削除する","/products/#{@product.id}",method: :delete, id:'btn-delete-modal'

= render partial:'products/comment_form'

- if @product.deal.seller != current_user
  -# imgの飾りアイコンです
  = render partial:'products/sns_icon'

= render partial:'shared/global-only-footer'
